.comparison h2 {
  text-align: center;
  color: #00595A;
  font-size: 32px !important;
  font-weight: bold;
}

.comparison__table tr.comparison__table-row td:first-child {
  width: 180px;
}

.comparison__table {
  min-width: 1116px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

.comparison__table td {
  vertical-align: top;
}

.comparison__table thead {
  position: relative;
  background-color: #fff;
  z-index: 3;
}

.comparison__table thead td {
  width: 234px;
  padding-bottom: 15px;
  vertical-align: top;
  text-align: left;
  font-weight: bold;
  background-color: #fff;
}

.comparison__table tr {
  padding: 0;
}

.comparison__more-btn-container {
  position: relative;
  padding: 8px 0;
  z-index: 3;
  background-color: #fff;
}

.comparison__more-btn {
  background-color: #F5F5FE;
  padding: 14px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.comparison__more-btn_active svg {
  transform: rotate(180deg);
}

.comparison__more-btn > svg {
  background-color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  pointer-events: none;
}

.comparison tr {
  border: none;
}

.comparison__table-content td:not(:first-child) {
  padding: 0;
  padding-bottom: 8px;
}

.comparison__table-content-card {
  text-align: left;
  vertical-align: top;
  padding: 16px 20px;
  border-radius: 16px;
  font-size: 14px;
  background-color: #F0F8F8;
  display: flex;
  flex-direction: column; 
  align-items: start;
}

.comparison__table-content-icon {
  width: 32px;
  height: auto;
  margin-bottom: 16px;
}

.comparison__table-content-img {
  height: 80px;
  min-width: 100%;
  margin-top: 32px;
  object-fit: cover;
  border-radius: 8px;
}

.comparison__table-content {
  overflow: hidden;
  background-color: #fff;
  position: relative;
  height: 100%;
  opacity: 1;
  transition: height 0.5s ease;
  z-index: 1;
}

.comparison__table-content_hidden {
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.comparison__table-content div {
  max-height: 300px;
  opacity: 1;
  transition: padding 0.5s ease, max-height 0.3s ease, opacity 0.3s ease;
}

.comparison__table-content_hidden div {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
  color: #fff;
}

.comparison__table-content_hidden td {
  height: 0;
  padding: 0 !important;
  transform: translateY(-100%);
  transition: padding 0.5s, height 0.5s;
}

.comparison tbody {
  position: relative;
}

.comparison__table-container {
  display: block;
  width: 100%;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
  scrollbar-color: #00848A #F0F8F8;
  scrollbar-width: thin;
}

.comparison__table-container::-webkit-scrollbar {
  height: 4px;
}

.comparison__table-container::-webkit-scrollbar-track {
  background: #F0F8F8;
}

.comparison__table-container::-webkit-scrollbar-thumb {
  background: #00848A;
  border-radius: 6px;
}

@media (max-width: 1200px) {
  .comparison__table-container {
    min-width: calc((100vw - 100%) / 2 + 100%);
  }

  .comparison__table-shade {
    display: block;
    position: absolute;
    opacity: 1;
    right: 0;
    top: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
    height: 100%;
    width: 140px;
    z-index: 5;
    transition: opacity 0.5s;
    pointer-events: none;
  }

  .comparison__table-shade_hidden {
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .comparison__table {
      border: none;
      margin: 0;
      padding: 0;
      width: 100%;
      table-layout: auto;
  }

  .comparison__table thead {
      border: none;
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      font-size: 16px;
      padding: 0;
      position: static;
      width: 100%;
  }

  .comparison__table tr {
      display: table-row;
      margin-bottom: 0;
  }

  .comparison__table thead td {
    font-size: 16px;
}

  .comparison__table td {
      border-bottom: none;
      display: table-cell;
      font-size: 14px;
      text-align: left;
  }

  .comparison__table td::before {
      content: none;
  }

  .comparison__table td:last-child {
      border-bottom: 0;
  }
}

@media (max-width: 540px) {
  .comparison__table-shade {
    width: 70px;
  }
}